In [1]:
import pandas as pd
import numpy as np

In [4]:
diversity = pd.read_csv('data/cleaned_diversity_school.csv')

In [5]:
diversity.head()

,name,Women,American Indian / Alaska Native,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority
0,University of Phoenix-Arizona,134722.0,876.0,1959.0,31455.0,13984.0,1019.0,58209.0,19039.0,65163.0,3355.0,68332.0
1,Ivy Tech Community College-Central Indiana,53476.0,357.0,1369.0,12370.0,5533.0,0.0,61498.0,1804.0,8224.0,24.0,21433.0
2,Liberty University,48329.0,447.0,856.0,14751.0,1186.0,151.0,39062.0,1772.0,22198.0,1036.0,19163.0
3,Lone Star College system,41268.0,168.0,4198.0,12094.0,23751.0,0.0,23615.0,1997.0,2273.0,1299.0,42208.0
4,Miami Dade College,38323.0,47.0,655.0,10722.0,44870.0,41.0,4170.0,226.0,1927.0,3388.0,56561.0

In [6]:
columns = ['Women', 'American Indian / Alaska Native', 'Asian', 'Black',
       'Hispanic', 'Native Hawaiian / Pacific Islander', 'White',
       'Two Or More Races', 'Unknown', 'Non-Resident Foreign',
       'Total Minority']

In [41]:
diversity.loc[diversity['Total Minority'].isna()]

,name,Women,American Indian / Alaska Native,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
diversity.iloc[85]

name                                  NaN
Women                                 NaN
American Indian / Alaska Native       NaN
Asian                                 NaN
Black                                 NaN
Hispanic                              NaN
Native Hawaiian / Pacific Islander    NaN
White                                 NaN
Two Or More Races                     NaN
Unknown                               NaN
Non-Resident Foreign                  NaN
Total Minority                        NaN
Name: 85, dtype: object

In [44]:
diversity = diversity.drop(axis=0,index=85)

In [46]:
diversity.iloc[84]

name                                  Florida Atlantic University
Women                                                     17277.0
American Indian / Alaska Native                              57.0
Asian                                                      1318.0
Black                                                      5678.0
Hispanic                                                   7255.0
Native Hawaiian / Pacific Islander                           36.0
White                                                     14031.0
Two Or More Races                                           924.0
Unknown                                                     260.0
Non-Resident Foreign                                        738.0
Total Minority                                            15268.0
Name: 84, dtype: object

In [47]:
diversity.to_csv('data/cleaned_diversity_school.csv', index=False)