In [30]:
import pandas as pd
import numpy as np

In [31]:
diversity = pd.read_csv('data/cleaned_diversity_school.csv')

In [32]:
diversity.head()

,name,Women,American Indian / Alaska Native,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,total_enrollment
0,University of Phoenix-Arizona,134722.0,876.0,1959.0,31455.0,13984.0,1019.0,58209.0,19039.0,65163.0,3355.0,68332.0,195059.0
1,Ivy Tech Community College-Central Indiana,53476.0,357.0,1369.0,12370.0,5533.0,0.0,61498.0,1804.0,8224.0,24.0,21433.0,91179.0
2,Liberty University,48329.0,447.0,856.0,14751.0,1186.0,151.0,39062.0,1772.0,22198.0,1036.0,19163.0,81459.0
3,Lone Star College system,41268.0,168.0,4198.0,12094.0,23751.0,0.0,23615.0,1997.0,2273.0,1299.0,42208.0,69395.0
4,Miami Dade College,38323.0,47.0,655.0,10722.0,44870.0,41.0,4170.0,226.0,1927.0,3388.0,56561.0,66046.0

In [33]:
columns = ['Women', 'American Indian / Alaska Native', 'Asian', 'Black',
       'Hispanic', 'Native Hawaiian / Pacific Islander', 'White',
       'Two Or More Races', 'Unknown', 'Non-Resident Foreign',
       'Total Minority']

In [34]:
diversity.loc[diversity['Total Minority'].isna()]

,name,Women,American Indian / Alaska Native,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,total_enrollment
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
diversity.iloc[85]

name                                  NaN
Women                                 NaN
American Indian / Alaska Native       NaN
Asian                                 NaN
Black                                 NaN
Hispanic                              NaN
Native Hawaiian / Pacific Islander    NaN
White                                 NaN
Two Or More Races                     NaN
Unknown                               NaN
Non-Resident Foreign                  NaN
Total Minority                        NaN
total_enrollment                      NaN
Name: 85, dtype: object

In [36]:
diversity = diversity.drop(axis=0,index=85)

In [37]:
diversity.iloc[84]

name                                  Florida Atlantic University
Women                                                     17277.0
American Indian / Alaska Native                              57.0
Asian                                                      1318.0
Black                                                      5678.0
Hispanic                                                   7255.0
Native Hawaiian / Pacific Islander                           36.0
White                                                     14031.0
Two Or More Races                                           924.0
Unknown                                                     260.0
Non-Resident Foreign                                        738.0
Total Minority                                            15268.0
total_enrollment                                          30297.0
Name: 84, dtype: object

In [38]:
diversity

,name,Women,American Indian / Alaska Native,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,total_enrollment
0,University of Phoenix-Arizona,134722.0,876.0,1959.0,31455.0,13984.0,1019.0,58209.0,19039.0,65163.0,3355.0,68332.0,195059.0
1,Ivy Tech Community College-Central Indiana,53476.0,357.0,1369.0,12370.0,5533.0,0.0,61498.0,1804.0,8224.0,24.0,21433.0,91179.0
2,Liberty University,48329.0,447.0,856.0,14751.0,1186.0,151.0,39062.0,1772.0,22198.0,1036.0,19163.0,81459.0
3,Lone Star College system,41268.0,168.0,4198.0,12094.0,23751.0,0.0,23615.0,1997.0,2273.0,1299.0,42208.0,69395.0
4,Miami Dade College,38323.0,47.0,655.0,10722.0,44870.0,41.0,4170.0,226.0,1927.0,3388.0,56561.0,66046.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4570,ITT Technical Institute at West Covina (Calif.),4.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,8.0,8.0
4571,Danville Regional Medical Center School of Hea...,6.0,0.0,0.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0,1.0,7.0
4572,Pace Institute,2.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,0.0,0.0,4.0,5.0
4573,ITT Technical Institute at Germantown (Wis.),2.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,4.0
4574,ITT Technical Institute at Cedar Rapids (Iowa),0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [39]:
for column in columns:
    diversity[column] = diversity[column] / diversity['total_enrollment']

In [40]:
diversity

,name,Women,American Indian / Alaska Native,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,total_enrollment
0,University of Phoenix-Arizona,0.690673,0.004491,0.010043,0.161259,0.071691,0.005224,0.298417,0.097606,0.334068,0.017200,0.350315,195059.0
1,Ivy Tech Community College-Central Indiana,0.586495,0.003915,0.015014,0.135667,0.060683,0.000000,0.674475,0.019785,0.090196,0.000263,0.235065,91179.0
2,Liberty University,0.593292,0.005487,0.010508,0.181085,0.014559,0.001854,0.479530,0.021753,0.272505,0.012718,0.235247,81459.0
3,Lone Star College system,0.594683,0.002421,0.060494,0.174278,0.342258,0.000000,0.340298,0.028777,0.032755,0.018719,0.608228,69395.0
4,Miami Dade College,0.580247,0.000712,0.009917,0.162341,0.679375,0.000621,0.063138,0.003422,0.029177,0.051298,0.856388,66046.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4570,ITT Technical Institute at West Covina (Calif.),0.500000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,8.0
4571,Danville Regional Medical Center School of Hea...,0.857143,0.000000,0.000000,0.142857,0.000000,0.000000,0.857143,0.000000,0.000000,0.000000,0.142857,7.0
4572,Pace Institute,0.400000,0.000000,0.000000,0.200000,0.400000,0.000000,0.200000,0.200000,0.000000,0.000000,0.800000,5.0
4573,ITT Technical Institute at Germantown (Wis.),0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.500000,4.0
4574,ITT Technical Institute at Cedar Rapids (Iowa),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0

In [41]:
diversity.to_csv('data/cleaned_diversity_school.csv', index=False)